/* Header Top  */
@media (max-width: 574px) {
    #header_top .header_top_right p a,#header_top .header_top_right p span {
        display: none;
    }
    #header_top p {
        font-size: 9px;
    }
    #header_top .header_top_right p {
        margin-right: 10px;
        font-size: 10px;
        right: 10px;
    }
    
}

/* Extra small devices (portraits phones, Less than 576px) */

@media (max-width: 575.98px) {

    #header_top .header_top_right p {
        margin-left: 0px;
        position: absolute;
        right: 0px;
    }
    #header_top .header_top_right p a {
        margin-left: 8px;
        margin-right: 10px;
    }
    #header_top .ml-3, .mx-3 {
        margin-right: 37px!important
    }


    .navbar {
      
        padding: 1.5rem 1rem;
    }
    .navbar-brand {
        padding: 0px !important;
    }
    .navbar-brand img {
        width: 183px;
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: gray;
        width: 230px;
        padding: 9px 0px;
     
    }
   
    header .nav-item .nav-link {
        color: #fff;
        margin-right: 15px;
    }

    header .nav-item {
        border: none;
        text-align: right;
        margin-bottom: 12px;
    }
  
    #slider {
        padding: 0px 0px;
        background: url('../Images/bannner.jpg') center top no-repeat;
        background-size: cover;
        height: 100%;
        }
    #slider::before {
        content: '';
        position: absolute;
        left: 0;
        top: 250px;
        right: 200;
        background: #000000;
        width: 100%;
        height: unset !important;
        opacity: .41;
    } 

    #slider h1 {
        padding: 0px;
        padding-top: 130px !important;
        text-align: center;
        font-size: 25px !important;
    }

    #slider p {
        font-size: 15px;
        padding: 0px;
        text-align: center;
    }
    #slider p br {
        content: 'A' !important;
    }
    #banner .ban_item .media img {
        width: 135px;
    }
    #expert {
        margin-top: 70px;
        margin-bottom: 50px !important;
    }
    #expert .heading {
        padding-top: 0px;
    }

    #expert .heading h1 {
        font-size: 16px !important;
        text-align: center;
    }

    #expert .exp_item {
        margin-top: 40px;
    }
    #service {
        padding: 50px 0px !important;
    }

    .card_custom {
        width: 100%;
        border: unset;
        background: unset;
        margin-left: 0px;
        margin-right: 0px;
        margin: auto;
    }
    .card_custom .card-body {
        text-align: center;
    }
    .card_custom .card-body h5 {
        text-align: center;
    }
    .card_custom .card-body p {
        text-align: center;
        font-size: 11px;
    }
    .blue_btn {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background: #25a590;
        padding: 8px 25px;
        margin-left: -20px;
    }
    
    .card_custom .card-img-top {
        height: 300px;
        margin-top: 45px;
    }

    #article {
        padding: 50px 0px 40px !important;
    }
    #article .arrow_icon {
        position: absolute;
        bottom: -38px;
        right: -10px;
        display: none;
    }
    
    #article .article_img img {
        width: 100%;
    }
    #article .article_text h3 {
        font-size: 25px;
    }

    #pourquoi {
        padding: 0px;
        padding-bottom: 100px;
    }
    .propos_mar {
        margin-top: 50px;
    }
    #pourquoi .title h2 {
        font-size: 25px !important;
        margin-top: 0px !important;
    }
    .pourquoi_item .media-body p {
        padding: 0px;
    }
    .pourquoi_item .media-body h4 {
        font-size: 20px;
    }


    .title h2 {
        font-size: 22px;
    }
    .sub_title h3 {
        font-size: 20px;
    }



    .propos_img img {
        width: 100%;
    }
    .propos_text .blue_btn {
        position: absolute;
       left: 30%;
    }

    #association {
        padding: 50px 0px 60px !important;
        position: relative;
        background-position: center center;
        background-size: unset;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    #association .title h2 {
        font-size: 20px;
    }
    #association .association_img {
        width: 100% !important;
    }
    .association_center .association_img {
        width: 100%!important;
    }

    footer {
        padding: 50px 0px !important;
    }

    .footer_item {
        padding: 0px;
        margin-left: 20px;
    }


    .footer_logo p {
        margin: 25px 0px !important;
    }
    .footer_item h4 {
        font-size: 25px;
        font-weight: 700;
        color: #ffff;
        text-transform: uppercase;
        width: 100%;
        margin: 48px 0px 25px;
    }
    .footer_logo .blue_btn {
        margin-left: 0px;
        padding: 0px -13px;
        font-size: 12px;
        padding: 5px 5px;
    }
    .contact {
        margin-top: 50px;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    #header_top .header_top_right p {
        margin-left: 0px;
        position: absolute;
        right: 10px;
    }
    #header_top .header_top_right p a {
        margin-left: 15px;
        margin-right: 10px;
    }
    
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: gray;
        width: 290px;
        padding: 12px 0px
     
    }
    header .nav-item {
        border: none;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 15px 8px;
    }
    header .nav-item .nav-link {
        color: #fff;
        margin-top: -20px;
        margin-right: 15px;
    }
 
    #slider {
        background: url('../Images/bannner.jpg') center top no-repeat;
        background-size: cover;
        height: 100%;
    }
    #slider::before {
        content: '';
        position: absolute;
        left: 0;
        top: 250px;
        right: 200;
        background: #000000;
        width: 100%;
        height: unset !important;
        opacity: .41;
    }  

    #slider h1 {
        padding: 0px;
        padding-top: 130px !important;
        text-align: center;
        font-size: 25px !important;
    }


    #slider p {
        padding: 0px;
        text-align: left;
    }

    #expert {
        margin-top: 70px;
        margin-bottom: 60px;
    }
    #expert .heading h1 {
        font-size: 24px !important;
        text-align: center;
    }
    #expert .exp_item {
        margin-top: 40px;
    }

    #service {
        padding: 50px 0px !important;
    }
    
    .card_custom {
        width: 100% !important;
    }
    .card_custom .card-img-top {
        width: 100% !important;
        height: 200px !important;
     
    }
    .card_custom .card-body {
        text-align: center;
        margin-top: 7px;
    }

    #article {
        padding: 50px 0px 40px !important;
    }
    #article .title h2 {
        font-size: 30px;
        font-weight: 700;
        color: #2e2e2e;
        text-transform: uppercase;
        border: 0px solid #d7d7d7;
        border-bottom-width: 1px;
        position: relative;
        padding-bottom: 10px;
    }
    #article .arrow_icon {
        position: absolute;
        bottom: 13px;
        right: -10px;
    }
    #article .article_img img {
        width: 100%;
    }

    #pourquoi {
        padding-top: 0px !important;
        padding-bottom: 75px !important;
    }
    .propos_mar {
        margin-top: 50px;
    }
    #pourquoi .title h2 {
        margin-top: 100px;
    }
    .propos_img img {
        width: 100%;
    }

    #association {
        padding: 70px 0px;
        position: relative;
        background-position: center center;
        background-size: unset;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    #association .association_img {
        width: 100% !important;
    }
    .association_center .association_img {
        width: 100%!important;
    }

    .footer_logo img {
        width: 100%;
    }
    footer {
        padding: 50px 0px;
    }
    .contact {
        margin-left: 20px;
    }
    .contact p a {
        color: #fff;
        font-size: 14px;
    }


}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    #header_top .header_top_right p {
        margin-left: 0px;
        position: absolute;
        right: 60px;
    }
    
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: gray;
        width: 290px;
        padding: 7px 0px
     
    }
    header .nav-item {
        border: none;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 15px 8px;
    }
    header .nav-item .nav-link {
        color: #fff;
        margin-top: -22px;
        margin-right: 15px;
    }

    #slider {
        background: url('../Images/bannner.jpg') center top no-repeat;
        background-size: cover;
        height: 100%;
        padding: 105px 0px;
    }
    #slider::before {
        content: '';
        position: absolute;
        left: 0;
        top: 250px;
        right: 200;
        background: #000000;
        width: 100%;
        height: unset !important;
        opacity: .41;
    }  

    #slider h1 {
        padding: 0px;
        padding-top: 125px !important;
        text-align: left;
        font-size: 40px;
    }

    #slider p {
        padding: 0px;
        text-align: center;
    }
    #expert {
        margin-top: 70px;
        margin-bottom: 60px;
    }
    #expert .heading h1 {
        font-size: 30px;
        text-align: center;
    }
    .maision {
        margin-top: 30px;
    }

    #service {
        padding: 50px 0px !important;
    }
    
    .card_custom {
        width: 325px;
    }
    .card_custom .card-body {
        text-align: center;
    }
    .card_custom .card-img-top {
        height: 250px;
    }

    #article {
        padding: 50px 0px 40px !important;
    }

    #article .arrow_icon {
        position: absolute;
        bottom: 13px;
        right: -12px;
    }
    #article .article_img img {
        width: 100%;
    }

    #pourquoi {
        padding-top: 0px !important;
        padding-bottom: 75px !important;
    }
    #pourquoi .title h2 {
        font-size: 30px;
        margin-top: 60px;
    }

    #association {
        padding: 70px 0px;
        position: relative;
        background-position: center center;
        background-size: unset;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    #association .association_img {
        width: 330px;
    }
    .association_center .association_img {
        width: 100%!important;
    }

    .footer_logo img {
        width: 225px;
    }
    footer {
        padding: 50px 0px;
    }
    .footer_logo p {
        margin: 75px 0px;
    }
    .contact {
        margin-left: 20px;
    }
}

/* Large device (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    #slider::before {
        content: '';
        position: absolute;
        left: 0;
        top: 225px;
        right: 200;
        background: #000000;
        width: 640px;
        height: unset !important;
        opacity: .41;
    }
    #slider {
        background: url('../Images/bannner.jpg') center top no-repeat;
        background-size: cover;
        height: 100%;
        padding: 105px 0px;
    }
    #slider h1 {
        padding: 0px;
        padding-top: 125px !important;
        text-align: left;
        font-size: 40px;
    }
    #slider p {
        padding-right: 0px;

    }

    #expert {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    #expert .heading h1 {
        font-size: 44px;
    }

    #expert .exp_item {
        margin-top: 20px;
    }

    #service {
        padding: 80px 0px;
    }

    .card_custom {
        width: 210px;
    }
    .card_custom .card-body {
        text-align: center;
    }
    .card_custom .card-img-top {
        height: 185px;
    }

    #article {
        padding: 80px 0px;
    }

    #article .arrow_icon {
        position: absolute;
        bottom: 13px;
        right: -11px;
    }
    #article .article_text p {
        height: 265px;
        overflow: hidden;
    }

    #pourquoi {
        padding: 80px 0px;
    }
    .propos_img img {
        width: 260px;
        height: 415px;
    }
    .propos_text p {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        margin-bottom: 26px;
        height: 356px;
        overflow: hidden;
    }

    #association {
        padding: 80px 0px;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #association .association_img {
        width: 162px;
        height: 80px;
        background-color: #fff;
        overflow: hidden;
        position: relative;
        margin-top: 45px;
    }


    footer {
        padding: 80px 0px 65px;
    }
    .footer_logo p {
        margin: 72px 0px;
    }
    .footer_logo .blue_btn {
        margin-left: 0px;
        padding: 10px 21px;
    }

.footer_item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    width: 259px;
    }
}

/* Extra Large devices (Large desktops, 1200px and up) */

@media (min-width: 1200px)  and (max-width: 1399.98px) {

   
}

@media (min-width: 1400px) {}